*{
	padding: 0;
	margin: 0;
}

body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.6em;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}

a {
	text-decoration: none;
}

a:link {
    color: #317589;
}

a:visited {
    color: #317589;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 10%;
	text-align: center;
	margin-right: 3%;
}

nav ul li a {
	color: #5D3F6A !important;
	border-style: none;
}

#container {
	width: 1000px;
	margin : 0 auto;
	height: auto;
}

p.date {
	display: block;
	float: right;
	margin: 2% auto;
	color: #5B3256;
}

.title {
	margin: auto;
}

h5 {
	margin-left: 2%;
	margin-bottom: 2px;
}

button.like p {
	display: inline;
	margin-left: 15px;
}

button.dislike p {
	display: inline;
	margin-top: 20px;
	margin-left: 15px;
}

.like {
	display: inline;
	margin-left: 4%;
}

.dislike {
	display: inline;
	margin-left: 4%;
}

button.like img {
	width: 29px;
	height: 29px;
	border-radius: 50%;
}


button.dislike img {
	width: 29px;
	height: 29px;
}

.comments {
	display: block;
	width: 800px;
	margin : 10 auto;
	height: auto;
	margin-left: 7%;
}

h3[id="comments"] {
	display: block; 
	margin: 2% 0;
}

.comment {
	margin: 2% auto;
	border-style: outset;
}