*{
	padding: 0;
	margin: 0;
}

body{
	height: 100%;
    background-color: #f4f4f4;
    color: #555555;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.6em;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}

a {
	text-decoration: none;
}

a:link {
    color: #317589;
}

a:visited {
    color: #317589;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 10%;
	text-align: center;
	margin-right: 3%;
}

nav ul li a {
	color: #5D3F6A !important;
	border-style: none;
}

#container {
	width: 1000px;
	margin : 0 auto;
	height: 100%;
}

#profile-img {
	margin-top: 20%;
	margin-left: 30%;
	width: 120px;
	height: 120px;
}

#profile-div {
	float: left;
	height: 100px;
	width: 40%;
	display: inline;
	margin-top: 100px;
}

#inputs {
	float: right;
	width: 50%;
	display: inline;
	margin-top: 15%;
	margin-right: 10%;
}

input {
	padding: 6px 20px;
	box-sizing: border-box;
	display: block;
	margin: 2% auto;
	font-size: 16px;
}

#profile {
	height: 100%;
}

p {
	font-size: 18px;
	float: right;
	margin-right: 300px;
}

#pname {
	margin-right: 330px; 
}

#btnchange {
	margin-left: 40%;
	background-color: #6C7A89;
	font-size: 14px;
	padding: 10px 20px;
}

#btnchange:hover, #btnpicture:hover {
	background-color: #ffffff;
    color: black;
}

#btnpicture {
	display: block;
	margin-left: 30%;
	background-color: #6C7A89;
	font-size: 14px;
	padding: 10px 20px;
	margin-top: 18%;
}